* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: url(./Images/bg-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  width: 70%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header p {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.form-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  min-height: 100vh;
  width: 100%;
  top: 0;
  z-index: 10;
  position: fixed;
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 50%;
  margin-bottom: 15px;
  position: absolute;
  position: fixed;
  z-index: 10;
  background: #e0e0e0;
}

.input-style {
  height: 20px;
  border: none;
  padding-left: 7px;
}

.submit-btn {
  height: 30px;
  margin-top: 12px;
  width: 161px;
  border: none;
  background-color: #3ee577;
  background-image: linear-gradient(315deg, #3ee577 0%, #42fcdb 74%);
  border-radius: 10px;
  cursor: pointer;
}

.coin-list {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
}

.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.coin {
  width: 100%;
  height: auto;
  color: black;
  border-radius: 10px;
  border: none;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #f3f3f3;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.value-div {
  text-align: right;
}

.ani-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toggle-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #3ee577;
  background-image: linear-gradient(315deg, #3ee577 0%, #42fcdb 74%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7%;
  right: 10%;
  cursor: pointer;
  position: fixed;
}

.add-btn {
  color: #3ee577;
  cursor: pointer;
}

.trash-btn {
  color: #f84242;
  cursor: pointer;
}

.exit-form-btn {
  color: red;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  cursor: pointer;
}

.btn-sign {
  font-size: 30px;
}

.search-bar {
  margin-top: 10px;
  width: 70%;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 12px;
  background: #f5f5fa;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(146, 146, 150, 0.25),
    inset 5px 5px 10px rgba(174, 174, 187, 0.5), inset -5px -5px 10px #ffffff;
}

.search-container {
  background-color: #f0f0f3;
  border-radius: 15px;
  height: 80vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-list {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background: #f0f0f3;
}

/* Scroll bar styling */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(184, 184, 184);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(138, 138, 138);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #626262;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-list-coin {
  min-height: 30px;
  display: flex;
  justify-content: space-around;
  width: 95%;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border-radius: 98px;
  color: #34373b;
  background: #f0f0f3;
  box-shadow: 5px 5px 10px rgba(94, 94, 95, 0.25), -5px -5px 10px #f0f0f3,
    5px 5px 10px rgba(94, 94, 95, 0.25), 10px 10px 20px #f0f0f3,
    -10px -10px 20px #f0f0f3;
}

.search-list-coin:first-child {
  margin-top: 10px;
}

.search-list-coin:hover {
  background-color: rgb(230, 230, 230);
}

.add-tx-btn {
  background: #3ee577;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  width: 80px;
  border: #3ee577 solid;
}

.profit {
  color: green;
}

.even {
  color: rgb(139, 139, 139);
}

.loss {
  color: red;
}

.total-value {
  text-align: right;
  color: rgb(139, 139, 139);
}

.total-value p:first-child {
  color: black;
}

@media only screen and (max-width: 750px) {
  .search-container {
    width: 100%;
    height: 93vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .search-bar {
    margin-bottom: -20%;
  }

  .search-list {
    height: 70%;
  }

  .coin {
    font-size: 1em;
  }
}
